$gradient: linear-gradient(94.47deg, #ed7430 0%, #eda130 100%);
$white-gradient: radial-gradient(
  66.24% 105.56% at 50% -19.91%,
  #ffffff 0%,
  rgba(255, 255, 255, 0) 100%
);
$gradient-fff: linear-gradient(rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.2));
